<router-outlet></router-outlet>
<section id="home-cover">
  <div class="slide-pagination-cover">
    <div
      *ngFor="let item of backgroundSlideItem; let idx = index"
      [class]="
        idx == backgroundIndex
          ? 'slide-pagination active-slide-pagination'
          : 'slide-pagination'
      "
      (click)="clicktranslateBackground(idx)"
    ></div>
  </div>
  <div class="background-container">
    <div id="product-overview1" class="overview">
      <h1>Get that exceptional look</h1>
    </div>
    <div id="product-overview2" class="overview">
      <h1>Lorem ipsum dolor sit amet</h1>
    </div>
    <div id="product-overview5" class="overview">
      <h1>Lorem ipsum dolor sit amet</h1>
    </div>
    <div id="product-overview6" class="overview">
      <h1>Lorem ipsum dolor sit amet</h1>
    </div>
    <div id="product-overview7" class="overview">
      <h1>Lorem ipsum dolor sit amet</h1>
    </div>
    <div id="product-overview8" class="overview">
      <h1>Lorem ipsum dolor sit amet</h1>
    </div>
    <div id="product-overview9" class="overview">
      <h1>Lorem ipsum dolor sit amet</h1>
    </div>
    <div id="product-overview1" class="overview">
      <h1>Get that exceptional look</h1>
    </div>
  </div>
</section>
<section *ngIf="newProducts.length >= 3" id="new-in">
  <h1>New In</h1>
  <div *ngIf="newProducts.length >= 5" class="pagination-contanier">
    <div
      *ngFor="let product of newProducts; let i = index"
      [ngClass]="{ pagination: true, 'active-pagination': i == currentIndex }"
      [style]="i == 0 || i == lastSlide ? 'display: none' : ''"
    ></div>
  </div>
  <div class="slide">
    <ul class="new-in__lists" #slide>
      <li
        *ngFor="let product of newProducts; let idx = index"
        id="{{ product._id }}"
        class="new-in__product"
        (touchstart)="onTouchStart($event, idx)"
        (touchmove)="onTouchMove($event)"
        (touchend)="onTouchEnd($event)"
      >
        <div class="new-image__cover" routerLink="/products/{{ product._id }}">
          <img
            class="product-img"
            src="{{ restApiAddress + '/' + product.imageUrl }}"
            [alt]="product.title"
          />
        </div>
        <title class="product-title">{{ product.title }}</title>
        <h2 class="price">${{ product.price }}</h2>
      </li>
    </ul>
  </div>
  <a routerLink="/products/new-in">More newly added products >></a>
</section>
<section id="advert">
  <div class="advert-image">
    <div class="advert-overlay">
      <div class="advert-content">
        <h1>Lorem Ipsum</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
          vestibulum semper dui. Vivamus dictum auctor turpis, vel dapibus nunc
          fermentum quis. Duis pharetra sapien mollis egestas porttitor.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sign-up__section">
    <h3 class="sign-up__title">
      Start shooping at RoyalBiba Online-Store today
    </h3>
    <p class="sign-up__content">
      RoyalBiba Online-Store provides you a fast and reliable way to enjoy
      online shopping, with good user experience. JOIN US TODAY.
    </p>
    <a routerLink="/auth" class="sign-up__button">Sign up for free</a>
  </div>
</section>
