<div id="cart-list__container">
  <div class="loader" *ngIf="isLoading" style="text-align: center">
    <!-- <app-loading-spinner></app-loading-spinner> -->
  </div>
  <h2 *ngIf="cart.length > 0 && !isLoading" class="total-price">
    Total: ${{ totalPrice }}
    <button type="button" class="checkout" (click)="onCheckout()">
      Check Out
    </button>
  </h2>
  <ul *ngIf="!isLoading" id="cart-list__mobile">
    <div *ngIf="cart.length === 0 && !isLoading" id="empty-cart">
      <p>Your bag is empty.</p>
      <button routerLink="/saved-item">View Saved Items</button>
      <a routerLink="/products">Start Shopping</a>
    </div>
    <li
      *ngFor="let product of cart"
      id="{{ product._id }}"
      class="cart-products"
    >
      <img class="product-img" src="{{ restApiAddress + '/' + product.productId.imageUrl }}" />
      <div class="buttons-container">
        <h2 class="price">${{ product.productId.price }}</h2>
        <title class="product-title">{{ product.productId.title }}</title>
        <p class="product-quantity">Qty: {{ product.quantity }}</p>
        <button
          class="action-btn delete-btn"
          (click)="onDelete(product._id)"
        ></button>
      </div>
    </li>
  </ul>
</div>
